
body{
    font: 20px, arial, sans-serif;
    
}

.navbar {
    background-color: whitesmoke;
    
}

.sobre{
    background-color: wheat;
    color: black;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;    
}
.works{
    background-color: whitesmoke;
}

.bg-footer{
    background-color: wheat;
    color: black;
    
    
}

